<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>consultorio</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AgendaPacienteServlet</display-name>
		<servlet-name>AgendaPacienteServlet</servlet-name>
		<servlet-class>web.AgendaPacienteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgendaMedicoServlet</display-name>
		<servlet-name>AgendaMedicoServlet</servlet-name>
		<servlet-class>web.AgendaMedicoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgendaConsultaServlet</display-name>
		<servlet-name>AgendaConsultaServlet</servlet-name>
		<servlet-class>web.AgendaConsultaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgendaExameServlet</display-name>
		<servlet-name>AgendaExameServlet</servlet-name>
		<servlet-class>web.AgendaExameServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AgendaAnamneseServlet</display-name>
		<servlet-name>AgendaAnamneseServlet</servlet-name>
		<servlet-class>web.AgendaAnamneseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AgendaMedicoServlet</servlet-name>
		<url-pattern>/AgendaMedicoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgendaConsultaServlet</servlet-name>
		<url-pattern>/AgendaConsultaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgendaExameServlet</servlet-name>
		<url-pattern>/AgendaExameServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgendaAnamneseServlet</servlet-name>
		<url-pattern>/AgendaAnamneseServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>